[submodule "catch"]
	path = catch
	url = https://github.com/philsquared/Catch.git
[submodule "zppsim"]
	path = zppsim
	url = git@bitbucket.org:edbaskerville/zppsim
[submodule "zppdb"]
	path = zppdb
	url = git@bitbucket.org:edbaskerville/zppdb
[submodule "zppjson"]
	path = zppjson
	url = git@bitbucket.org:edbaskerville/zppjson
[submodule "libjson"]
	path = libjson
	url = https://github.com/vincenthz/libjson.git
